* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.login-page {
  font-family: sans-serif;
}

.login-icon {
  font-size: 60px;
}

.login-form,
.register-form,
.transact-form {
  padding: 20px 50px 50px 50px;
  border-radius: 20px;
}
.btn-box {
  margin: 0 auto;
}
.btn.login-btn {
  width: 35%;
  border-radius: 50px;
}

input.login-form-input {
  color: rgba(0, 0, 0, 0.87);
  border-bottom-color: rgba(0, 0, 0, 0.42);
  border: none;
  box-shadow: none !important;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
}
input.login-form-input:focus {
  border-bottom-color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid;
  background-color: transparent;
}

.login-pwd input:valid ~ .fa-regular {
  display: block;
}
.login-pwd > .fa-regular {
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  display: none;
}

.login-title {
  font-size: 2rem !important;
  font-weight: 700;
  white-space: nowrap;
}

.background {
  background: #020024;
  background: linear-gradient(
    60deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.page-loader {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body.loading {
  pointer-events: none;
  user-select: none;
}

body.loading #page-loader {
  display: flex !important;
  pointer-events: all;
}

/* Make dropdown button behave like form-select */
.form-floating .form-select {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

/* Prevent dropdown from breaking floating label */
.form-floating .dropdown-toggle::after {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Keep label floating */
.form-floating > label {
  z-index: 2;
}
